%body
  .container
    .container
      .jumbotron
        %h1 NotMyNews
        %p.lead News that challenges your viewpoint.
        %p
          %a.btn.btn-lg.btn-success{:href => new_user_registration_path, :role => "button"} Sign up today
      .row.marketing
        %h4 What is NotMyNews?
        %p  Quickly browse headlines and articles from the news sources you usually avoid. Simply select whether you would like to be displayed articles from left, right or centrist news outlets and have the latest articles delivered in one easy to read news feed.
        %hr
        %div#splashscreen
    %footer.footer
      %p © 2017 NotMyNews, Inc.
