%h4 Saved Links
- if @savedlinks.all.any?
	- @savedlinks.all.each do |savedlink|
		%ul
			%li
				%h5= link_to savedlink.title, savedlink.url
				%h5= savedlink.subtitle
				=image_tag savedlink.imageurl, size: "280x150"
				%br
				= link_to savedlink_path(savedlink), method: :delete, class: "delete" do
					= "Delete"
					%span.glyphicon.glyphicon-remove
- else
	%h5 No saved links yet!
%p