
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .storyphoto {
   float: left;
   height: 100px;
   width: 150px;
   object-fit: cover;
 }

 .storyinfo {
   float: right;
   width: 75%;
 }

 .storyinfo a{
   font-weight: 900;
 }

 .storylist {
   list-style: none;
   padding-right: 40px;
 }

.splashbox {
  overflow: hidden;
}

.storysplitter {
  height: 30px;
  border-style: solid;
  border-color: #d2d5d6;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
.storysplitter:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #d2d5d6;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.splashstorylist {
  list-style: none;
  padding-right: 40px;
}

/*.storysplitter {
   border-top: 1px dotted #8c8b8b;
   border-bottom: 1px dotted #fff;
}*/
